---
author: "Laurens"
---

<h1>{{ page.title}}</h1>
<h3>{{ layout.author }}</h3>
<hr>

<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
        <title>{{ page.title}}</title>
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-md-6">
                            {{ content }}
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-md-6">
                         <h5> <a href="{{site.baseurl}}/"> Homepage</a></h5>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </footer>
    <bottom>
    Copyright &#169; Laurens Prast
    </bottom>
    </body>
</html>